.card {
  margin: 20px auto;
  width: 600px;
  box-shadow: 0 0 2px 1px #ccc;
}

h4 {
  font-weight: 700;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.convert {
  width: 90px;
  margin: 10px 15px;
}

.copy {
  margin: 5px;
}

.rgb {
  margin: 20px 5px 10px 0;
  display: flex;
  text-align: center;
  justify-items: space-around;
}

.color-display {
  margin: 0 5px;
  height: 30px;
  width: 30px;
  border: 0.5px solid #ccc;
  border-radius: 3px;
}
.rb {
  background-color: #ffffff;
}
.gb {
  background-color: #ffffff;
}
.bb {
  background-color: #ffffff;
}

.label-name {
  margin: 0 5px 0 0;
}

.show-Hex-color {
  background-color: #ffffff;
  width: 80px;
  height: 80px;
  margin: 10px;
  border: 1px solid #aaa;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #ccc;
}
